module github.com/example/{{PROJECT_NAME}}

go 1.23

require (
	github.com/aws/aws-sdk-go-v2 v1.32.0
	github.com/aws/aws-sdk-go-v2/config v1.28.0
	github.com/aws/aws-sdk-go-v2/credentials v1.17.0
	github.com/aws/aws-sdk-go-v2/feature/dynamodb/attributevalue v1.15.0
	github.com/aws/aws-sdk-go-v2/service/dynamodb v1.37.0
	github.com/neureaux/cloudmock/sdk v1.0.0
)
